.main{
    height: 600px;
    width: 800px;

}
.rectangle1{
    height: 400px;
    width: 800px;
    background: cadetblue;
    position: relative;
    display: flex;
}
.rectangle2{
    height: 200px;
    width: 800px;
    background: silver;
}
.box{
    height: 100px;
    width: 100px;
    background:gold;
    margin: 20px;
    position: relative;
    top: 330px;
    left: calc(800px/2 - 210px);




}